@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 5rem 0;
    
    background-color: #0c659d;
    background-size: cover;
    display: grid;
    align-content: center;
}
